@import "tailwindcss";

#title {
    font-weight: 600;
    margin: 0.5rem;
    font-size: 1.2rem;
}


#loginBox {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    align-items: center;
    padding: 1rem;
    
    
}

#email, #password {
    padding: 0.5rem 1.75rem 0.5rem 0.2rem;
}

#email, #password, #loginBtn {
    display: block;
    
    
    margin: 0.5rem;
    border-radius: 8px;
}


#loginBtn {
    margin-left: 4.5rem;
    
    margin-top: 0.5rem;
    
}